<h1>Cadastro de Sistemas</h1>
<script type="text/javascript" src="/api-autenticacao/js/sistema/sistema.js"></script>
<h1>Sistemas</h1>

<div id="formCadastro">
		<input type="hidden" id="classe" value="Sistema" />
		<input type="hidden" id="metodo" value="incluir" />
		<input type="hidden" id="id"/>
		<div class="campo">
			<label>Nome: </label><input type="text" id="nome" name="nome" title="nome" placeholder="nome" />
		</div>
		<input type="button" id="btnCadastrar" value="Salvar" title="salvar" />
		<input type="reset" id="btnLimpar" value="Limpar" title="limpar"  />
</div>

<div id="divTabela">
	<h2>Lista de Sistemas</h2>
	<div id="formPesquisa">
		<label>Nome: </label>
		 <input type="text" id="nomePesquisa" placeholder="nome"> 
		 <input type="button" id="btnPesquisar" value="Pesquisar">
	</div>
	<div id="lblSemResultados" class="oculto">
		Sem resultados...
	</div>
	<div id="msgCarregando">
		<img id="imgCarregando" alt="carregando" src="/api-autenticacao/img/carregando.gif" width="25px" > Carregando...
	</div>
	<table id="tbl" class="dados">
		<thead>
			<tr>
				<td>Id</td>
				<td>Nome</td>
				<td></td>
			</tr>
		</thead>		
	</table>
</div>
<script>
	sistema.init();
</script>